.table_theme_dark {
    margin: 0;
    /* min-width: 1100px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    z-index: 1;
}