.footer__column-links {
    margin-top: 20px;
    padding-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    list-style: none;
}