.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;  
  
  /* выше установили ограничения для секции */
}

.logo_place_header {
  height: 32px;
  width: 183px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  margin: 0px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  padding-left: 64px;
  
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  bottom: 30px;
  text-align: left;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;

}

.header__link {
  text-decoration: none;
  color: #2f80ed
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  

}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;    
}

.two-columns__main-text {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  
}

.digits {
  padding-bottom: 100px;
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

.section-title {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: normal;
}

.table {
  min-width: 1100px;
  margin: 0; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.table__cell {
  width: 250px;
  margin-right: 60px;
  margin-top: 60px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}

.feinman {
  height: 790px;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color:  #f2f2f2;
    
}

.feinman__title {
  margin: 0;
  display: flex;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  }

.feinman__subtitle {
  display: flex;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feinman__image {
  left: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  height: 637px;
  width: 867px;
}

.feinman__link {
  display: flex;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}

.kaufman {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: normal;
  color: white;
}

.table_theme_dark {
  margin: 0;
  min-width: 1100px;
  /* margin-left: auto;
  margin-right: auto; */
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;

  /* width: 250px;
  margin-right: 60px;
  margin-top: 60px; */
  
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: 0;
}

.footer {
  margin: 0;
  background-color: #1f1f1f;
  min-height: 350px;
  flex-basis: 711px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.footer__coulmn_content_copyright {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
  display: flex;
  top: 0;
  left: 0;
}

.footer__author {
  left: 0;
  bottom: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  
}


.footer__column_info {
  height: 100%;
}

.footer__column-heading {
  top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
}

.footer__column-links {
  margin-top: 20px;
  padding-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-links_color:hover {
  text-decoration: underline;
  color: #2f80ed;
}

.footer__column_social {
  height: 100%;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}


